In [3]:
import pandas as pd
import tensorflow as tf 
from keras import layers, models

Get Data

In [6]:
df = pd.read_csv("./simulated_dataset/all_data.csv")

df_pivot = df.pivot(index="timestamp", columns="sensor_id", values=["temperature", "label"])

df_pivot = df_pivot.reset_index(drop=True)

df_pivot.head()

          temperature                                             label       \
sensor_id           1          2          3          4          5     1    2
0           55.190138  59.393640  57.931946  46.176930  50.252507   0.0  0.0
1           55.506565  60.327828  55.147379  51.772045  46.596798   0.0  0.0
2           55.323770  58.954091  58.597680  49.641421  43.620914   0.0  0.0
3           50.400828  56.299034  56.996665  50.715814  46.368151   0.0  0.0
4           59.268775  54.955673  57.277246  46.758207  45.800697   0.0  0.0


sensor_id    3    4    5
0          0.0  0.0  0.0
1          0.0  0.0  0.0
2          0.0  0.0  0.0
3          0.0  0.0  0.0
4          0.0  0.0  0.0

Build CNN

Training

Testing